<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Pokedex</title>
  </head>

  <body>
    <header class="header">
      <img src="/assets/img/logo.png" alt="logo" draggable="false" />
      <button id="home">HOME</button>
      <button id="criar">CRIAR</button>
      <button id="editar">EDITAR</button>
      <button id="deletar">DELETAR</button>
    </header>
    <main class="main">
      <div class="container">

        <% pokedex.forEach((pokemon)=>{%>
        <div class="card">
          <div class="img">
            <img src="<%=pokemon.imagem %>" alt="pokemon" />
          </div>
          <h2><%=pokemon.nome%></h2>
          <div class="content">
            <p><%=pokemon.descricao %></p>
            <p><%=pokemon.tipo %></p>
            <p><%=pokemon.altura %></p>
            <p><%=pokemon.peso %></p>
            <p><%=pokemon.habilidade %></p>
          </div>
        </div>
        <%})%>
      </div>

      <div class="gradient"></div>
    </main>
    <footer class="footer">
      <p class="info">Deyvet Walef. Todos os direitos reservados</p>
    </footer>

  </body>
</html>
